Question one

A) Initialize two Data Frames with one column of Data, an Index, and a label for the column  
B) Merge the two frames into one using the first data frame (first is more important)

In [23]:
import numpy as np
import pandas as pd

student_df=pd.DataFrame(["Business","Law","Engineering"],["James","Mike","Sally"],["School"])
student_df.index.name='Student'
student_df.head()

              School
Student
James       Business
Mike             Law
Sally    Engineering

In [7]:
staff_df=pd.DataFrame(["Director of HR","Course liasion","Grader"],["Kelly","Sally","James"],["Role"])
staff_df.index.name='Name'
staff_df.head()
pd.merge(student_df,staff_df,how='left',left_index=True, right_index=True)

              School            Role
Student
James       Business          Grader
Mike             Law             NaN
Sally    Engineering  Course liasion

Question two
 
A) Take the average of columns horizontally using a lambda function  
B) Drop the used columns

In [8]:
frames = ['P2010', 'P2011', 'P2012', 'P2013','P2014', 'P2015']
df=pd.DataFrame(np.random.rand(2,6),columns=frames)
df['AVG'] = df[frames].apply(lambda z: np.mean(z), axis=1)
result_df = df.drop(frames,axis=1)
result_df

        AVG
0  0.631413
1  0.498733

Question three
 
A) Filter data using qualitative categories derived from the data  
B) Display the filtered category

In [9]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'], columns = ['Grades'])
my_categories= pd.CategoricalDtype(categories=['D','D+','C-','C','C+','B-','B','B+','A-','A','A+'],ordered=True)
grades = df['Grades'].astype(my_categories)
result = grades[(grades>'B') & (grades<'A')]
result

excellent    A-
good         B+
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

Question four
 
A) Design a function to categorize data based on numbers  
B) Add a column which label the data based on your function   
C) Use this column as a grouping columns, use only median scores as data to aggregate, use country as index  
D) Add total column for getting median of all unis in a country irrespective of the rank level

In [10]:
df = pd.read_csv('./datasets/cwurData.csv')
def create_category(ranking):
    # Since the rank is just an integer, I'll just do a bunch of if/elif statements
    if (ranking >= 1) & (ranking <= 100):
        return "First Tier Top Unversity"
    elif (ranking >= 101) & (ranking <= 200):
        return "Second Tier Top Unversity"
    elif (ranking >= 201) & (ranking <= 300):
        return "Third Tier Top Unversity"
    return "Other Top Unversity"

# Now we can apply this to a single column of data to create a new series
df['Rank_Level'] = df['world_rank'].apply(lambda x: create_category(x))
# And lets look at the result
df.pivot_table(values='score',index='country',columns='Rank_Level',aggfunc=[np.median],margins=True).head()

                             median                      \
Rank_Level First Tier Top Unversity Other Top Unversity
country
Argentina                       NaN              44.390
Australia                    48.055              44.580
Austria                         NaN              44.630
Belgium                      51.875              44.715
Brazil                          NaN              44.365


Rank_Level Second Tier Top Unversity Third Tier Top Unversity     All
country
Argentina                        NaN                      NaN  44.390
Australia                     49.125                   47.285  44.765
Austria                          NaN                   47.030  44.690
Belgium                       49.600                   46.890  46.210
Brazil                        49.565                      NaN  44.380

Question five
 
A) What was the weekday of the last day of november 2019

In [11]:
import pandas as pd
(pd.Timestamp('11/29/2019') + pd.offsets.MonthEnd()).weekday()

5

Question six

A) Fill the missing values of the columns with the mean of their corresponding group  
B) Show the results after filling the missing values

In [12]:
filling_mean = lambda g: g.fillna(g.mean())
test_df=pd.DataFrame([[1,3,np.nan],[1,np.nan,3],[1,2,4],[2,np.nan,4],[2,6,5],[1,np.nan,1]],columns=['btengan','tofa7','zabady'])
test_df.groupby('btengan').transform(filling_mean).head()

   tofa7    zabady
0    3.0  2.666667
1    2.5  3.000000
2    2.0  4.000000
3    6.0  4.000000
4    6.0  5.000000

Question seven

A) What is a right join in Pandas?  
B) In what situations would it be appropriate to use a right join instead of other types of joins, such as inner join or left join?

In [13]:
student_df=pd.DataFrame([["James","Hammond","Business"],['Mike','Smith','Law'],["Sally","Brooks","Engineering"]],columns=["First Name", "Last Name","School"])

staff_df=pd.DataFrame([["Kelly","Desjardins","Director of HR"],["Sally","Brooks","Course liasion"],['James','Wilde',"Grader"]],columns=["First Name", "Last Name","Role"])

pd.merge(staff_df,student_df,how='right',on=['First Name', 'Last Name'])

  First Name Last Name            Role       School
0      James   Hammond             NaN     Business
1       Mike     Smith             NaN          Law
2      Sally    Brooks  Course liasion  Engineering

Question eight

A) What is the value obtained by adding 5 months to the Pandas Period object that represents the month of December 2019?

In [14]:
pd.Period('01/12/2019', 'M')+5

Period('2019-06', 'M')

In [15]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]

print(c)

46

Question nine

A) What is the purpose of the regular expression matching and splitting operations?

In [27]:
import re
s = 'ABCAC'

print(bool(re.match('A', s)) == True)
# len(re.search('A', s)) == 2
print(len(re.split('A', s)) == 2)
print(re.match('A', s))

True
False
<re.Match object; span=(0, 1), match='A'>

Question ten

A) Match any character followed by "AAA", but do not include "AAA" in the match result

In [17]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = '.{1}?(?=AAA)'
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group())
      
    return result
result()

['C', 'F', 'B']

Question eleven

A) What are the different ways of accessing elements in a pandas series?

In [18]:
import pandas as pd
df=pd.Series(index=['d','b','a','c'],data=[4,7,-5,3])
print(df.iloc[0])
print(df[0])
print(df['d'])
print(df.index[0])

4
4
4
d

Fundamental Pandas Series and Data Frames operations

In [37]:
s1=pd.Series(data=[20,15,18,31],index=['Mango','Strawberry','Blueberry','Vanilla'])
s2=pd.Series(data=[20,30,15,20,20],index=['Strawberry','Vanilla','Bannana','Mango','Plain'])
s3=s1.add(s2)
s3['Mango'] >=  s1.add(s2, fill_value = 0)['Mango']

True

In [20]:
df=pd.DataFrame(index=['test1','test2','test3'],columns=['a','b'],data=[[1,2],[1,2],[1,2]])
df.set_index('a')

   b
a
1  2
1  2
1  2

In [21]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int64

In [45]:
df=pd.DataFrame(data=[[5,6,20],[5,82,28],[71,31,92],[67,37,49]],index=['R1','R2','R3','R4'],columns=['a','b','c'])
f = lambda x: x.max() + x.min()
print(f"{df.head()}\n")
df_new = df.apply(f)
print(df_new[1])
df.stack()

     a   b   c
R1   5   6  20
R2   5  82  28
R3  71  31  92
R4  67  37  49

88

R1  a     5
    b     6
    c    20
R2  a     5
    b    82
    c    28
R3  a    71
    b    31
    c    92
R4  a    67
    b    37
    c    49
dtype: int64

In [23]:
df=pd.DataFrame(data=[['item_1','A',10],['item_1','B',20],['item_1','C'],['item_2','A',5],['item_2','B',10],
                      ['item_2','C',15]],columns=['Item','Store','Quantity sold'])
df.groupby('Item').sum().iloc[0]['Quantity sold']

30.0